/*
  Name: Stella Lau
  Date: 08.11.2019
  Section: CSE 154 AC

  This is the CSS file that I use for the cart.html and the item.html
  of my final project
*/

@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

body {
  font-family: 'Cardo', serif;
  text-align: center;
}

h1, header a, nav a, button {
  color: white;
}

.flex {
  display: flex;
}

header p {
  font-style: italic;
}

header div, footer {
  background-image: linear-gradient(#00a5c9, #81e0f5);
}

div, #user-info {
  justify-content: center;
}

header img {
  width: 5rem;
}

ul {
  list-style: none;
  font-weight: bold;
  justify-content: space-evenly;
}

nav, button {
  background-color: #00a5c9;
}

nav {
  border: 0.5rem solid #81e0f5;
}

a {
  text-decoration: none;
}

footer {
  padding: 1rem;
}

nav, button {
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

button {
  height: 2rem;
  width: 10rem;
  border: 3px solid #81e0f5;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

span {
  word-spacing: 3rem;
}

section {
  padding-right: 10rem;
}

#items li {
  text-align: left;
}

main > div {
  min-height: 30rem;
}

#cart {
  background: none;
  justify-content: flex-end;
  margin-top: -5rem;
  margin-right: 1rem;
}

#item-info {
  margin-top: 5rem;
}

#item-info img {
  height: 15rem;
  margin-right: 10rem;
}
